Q1. What is a database? Differentiate between SQL and NoSQL databases.

Databases are the collection of data in order to store and retrieve data. The database consists of data which can be a numeric, alphabetic and also alphanumeric form.

Difference between SQL and NoSQL

1.Type – 
SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

2.SQL databases have fixed or static or predefined schema whereas NoSQL have dynamic schema.

3.SQL databases are not suited for hierarchical data storage whereas NoSQL databases are best suited for hierarchical data storage.

4 SQL are vertically scalable whereas NoSQL are horizontally scalable.

5.SQL follows ACID property whereas NoSQL follows CAP(consistency, availability, partition tolerance).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language (DDL) is used to create and modify the structure of objects in a database using predefined commands and a specific syntax. These database objects include tables, sequences, locations, aliases, schemas and indexes.

CREATE - This command is used to create a new table, database in SQL. The user has to give information like table name, column names, and their datatypes.ex table for storing Student information
Syntax
CREATE TABLE [table name] ([column definitions]) [table parameters];

DROP-DDL also includes several DROP commands to delete objects in a database. DROP commands cannot be undone, so once an object is deleted, it cannot be recovered.ex the College Authority wants to change their Database by deleting the Student_info Table. 
Syntax
DROP object type object name;

ALTER-The third group of DDL commands is ALTER. These commands are used to make modifications to database objects, such as indexes, locations and stogroups.ex-In our Student_info table, we want to add a new column for CGPA. 
Syntax
ALTER object type object name parameters;

TRUNCATE-This command is used to remove all rows from the table, but the structure of the table still exists.ex-The Authority wants to remove the details of all students for new batches but wants to keep the table structure.
Syntax
TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is Data Manipulation Language which is used to manipulate data itself.When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

INSERT - This command is used to enter the information or values into a row. ex- if we want to add a student detail in pre existing data base .
Syntax-
INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)
    
VALUES ('value1', 'value2'); 
    
UPDATE-This command is used to alter existing table records. Within a table, it modifies data from one or more records.ex When we want to update a student detail in a table.
Syntax-
UPDATE <table_name>
SET <column_name = value>
WHERE condition; 

DELETE- It deletes all archives from a table. This command is used to erase some or all of the previous table’s records.ex- If we want to delete a student detail from a table .
Syntax-
DELETE FROM <table_name>
WHERE <condition>;

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

SELECT-It is used to retrieve data from the database.We can fetch either the entire table or according to some specified rules.  ex - If want to know the deatil of the student from table .

Syntax-
SELECT column1,column2 FROM table_name 
column1 , column2: names of the fields of the table
table_name: from where we want to apply query

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table.

A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value.
Surrogate keys

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Import mysql.connector
mydb=mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
    
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.It is an object that is used to make the connection for executing SQL queries.

execute()
This method accepts a MySQL query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.